nav {
    background: #eeeeee;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


input.search{
    border-radius: 90px;
    border: none;
    padding: 8px 10px;
    width: 35%;
}


button.btn-cad{
    border: 1px;
    border-radius: 90px;
    color: white;
    background: #4CAF50;
    padding: 8px 23px;
}